/*

TABLE OF CONTENTS:

#General Formatting
#Header
#Filter
#Main
#Items
#Active States
#Media Queries

*/

/* ############### #GENERAL FORMATTING ############### */
* {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  box-sizing: border-box;
}

body {
  background: hsl(180, 52%, 96%);
}

.text--green, .item__filter {
  color: hsl(180, 42%, 43%);
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: -.25px;
  padding: 3px 5px;
}

/* ##################### #HEADER ##################### */
.hero {
  height: 150px;
  width: 100vw;
  background: hsl(180, 29%, 50%) url("images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* ##################### #FILTER ##################### */
.filter {
  width: 90vw;
  border-radius: 5px;
  background: white;
  margin: 0 auto -30px;
  padding: 5px 20px 5px 0; 
  position: relative;
  bottom: 20px;
  box-shadow: 0 5px 15px 0 hsl(180, 7%, 76%);
  display: flex;
  justify-content: space-between;
}

.filter__item__container {
  display: flex;
  flex-wrap: wrap;
}

.filter__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: white;
  height: 25px;
  line-height: 27.5px;
  padding: 0;
  margin: 7px 0 7px 15px;
  border-radius: 3px;
  border: none;
  overflow: hidden;
}

.filter__item__name {
  background:hsl(180, 29%, 91%);
  font-weight: 700;
  font-size: .8rem;
  letter-spacing: -.25px;
  color: hsl(180, 41%, 50%);
  padding: 0 8px;
}

.filter__item__remove {
  background:hsl(180, 30%, 61%);
  height: 25px;
  padding: 7px 7px;
}

@media(hover: hover) and (pointer: fine) {
  .filter__item__remove:hover {
    background: black;
    cursor: pointer;
  }
}

.filter__clear {
  background: white;
  border: none;
  font-weight: 700;
  font-size: .8rem;
  letter-spacing: -.25px;
  color:hsl(180, 4%, 57%);
  margin-left: 30px;
  position: relative;
}

@media(hover: hover) and (pointer: fine) {
  .filter__clear:hover {
    color:hsl(180, 42%, 43%);
    text-decoration: underline;
    cursor: pointer;
  }
}

/* ###################### #MAIN ###################### */
main {
  margin-bottom: 50px;
}

.main__container {
  background: hsl(180, 52%, 96%);
}

/* ###################### #ITEMS ###################### */
.item {
  background: white;
  border-radius: 5px;
  margin: 0 auto; 
  width: 90vw;
  padding: 20px;
  box-shadow: 0 5px 15px 0 hsl(180, 7%, 76%);
}

.item__featured__border {
  border-left: solid 5px hsl(180, 21%, 52%);
}

.item__logo__container {
  width: 80vw;
  margin: 0 auto;
}

.item__logo {
  height: 50px;
  width: 50px;
  position: relative;
  top: 30px;
}

.item__name__flag {
  display: inline-block;
  font-size: 0.7rem;
  color: white;
  height: 20px;
  line-height: 16px;
  align-items: center;
  padding: 4px 8px;
  border-radius: 20px;
}

.item__name__new {
  background:hsl(180, 21%, 52%);
  margin-left: 15px;
}

.item__name__featured {
  background: black;
  margin-left: 5px;
}

.item__title {
  font-weight: 700;
}

@media(hover: hover) and (pointer: fine) {
  .item__title:hover {
    cursor: pointer;
    color: hsl(180, 42%, 43%);
  }
}

.item__descrip {
  font-size: .8rem;
  color: gray;
}

.item__filters__container {
  display: flex;
  flex-wrap: wrap;
}

.item__filter {
  padding: 6px 8px;
  margin-right: 15px;
  margin-top: 15px;
  border: none;
  border-radius: 3px;
  background:hsl(180, 29%, 91%);
  transition: transform .05s, background-color .1s;
}

@media(hover: hover) and (pointer: fine) {
  .item__filter:hover {
    cursor: pointer;
    background:hsl(180, 21%, 52%);
    color: white;
  } 
}

.item__filter:active {
  transform: scale(.8);
  background-color: black;
}

/* ##################### #ACTIVE STATES ##################### */
.hidden {
  display: none;
}

/* #################### #MEDIA QUERIES #################### */
@media only screen and (min-width: 900px) {
  * {
    box-sizing: content-box;
  }

  .hero {
    height: 156px;
    background: hsl(180, 29%, 50%) url("images/bg-header-desktop.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .filter {
    position: relative;
    top: -50px;
  }

  .hero {
    margin-bottom: 30px;
  }

  .item__divider {
    display: none;
  }

  .item__container--desktop {
    display: flex;
    margin-right: 6vw;
  }

  .item__logo__container {
    width: 0;
  }

  .item__logo {
    position: relative;
    right: -7.5vw;
    top: 23%;
    height: 65px;
    width: 65px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 6vw;
  }

  .item__name {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 0;
  }

  .item__name__flag {
    height: 13px;
  }

  .item__desktop--left {
    margin-left: 75px;
  }

  .item__title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .item__filter {
    height: 20px;
    position: relative;
    top: 25%;
  }

  .filter__item__remove {
    box-sizing: border-box;
  }
}